* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#topNav {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
    background: white;
    width: 100%;
    position: fixed;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navLinks {
    font-size: 30px;
    text-decoration: none;
    color: #333;
}

.navLinks:hover {
    color: blue;
}

.navMenu {
    gap: 2rem;
    display: flex;
    list-style: none;
}
@media screen and (max-width:600px) {
    .navLinks {
        font-size: 5px;
    }
}

#intro {
    padding-top: 100px;
    background: #ECF4E8;
    height: 738px;
}

.container2{
    justify-content: center;
    padding-top: 100px;
    display: flex;
    gap: 50px;
}
@media (min-width:1080px) {
    .container2{
        gap: 300px;
    }
}

.loading {
    background: #c1c1c1;
    overflow: hidden;
    min-height: 30px;
    margin: 2rem;
    position: relative;
}


.loading::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #dedede, transparent);
    transform: translate(-100%);
    animation: loading 1s infinite;
}
@keyframes loading {
    100%{
        transform: translate(100%);
    }
}
.img {

    min-height: 200px;
    min-width: 300px;
    border-radius: 20px;
    overflow: hidden;
}
.introRow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 400px;
}
.text {
    height: 200px;
}

.link {
 height: 50px;
}
@media (max-width:600px) {
    .container2 {
        flex-direction: column;
        padding-top: 0;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .text {
        width: 300px;
    }
}



